
.workorderscoeElement {
	display: block;
	height: 100%;
	width: 100%;
}


.workorderscoeWidget {
	margin: auto;
	background-color: #DDDDDD;
	padding: 3px;

}



.wo-button {
	width : 32px;   
	height : 32px; 
	// background-repeat : 'no-repeat';   
	// background-position : 'center';
	// border : 'solid 1px rgba(0,0,0,0.05)';  
	// border-radius : '40px'; 
	// box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
	// margin : '4px 8px'; 
	//padding-right: 10px;
	color: $primary-color;
	background-color : $primary-background-color;
	position: fixed;
	flex-direction: column;
  }


.woclosebutton {
	width : 32px;   
	height : 32px; 
	// background-repeat : 'no-repeat';   
	// background-position : 'center';
	// border : 'solid 1px rgba(0,0,0,0.05)';  
	// border-radius : '40px'; 
	// box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
	// margin : '4px 8px'; 
	//padding-right: 10px;
	color: $primary-color;
	background-color : $primary-background-color;
	position: fixed;

  }

.contentcontainer {
	background-color : transparent;
  
  }

  .wos-text {
    overflow: scroll; 
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;

  }

  .wi-uicontainer {
  
	background-color : transparent;
	display : flex;
	flex-direction : column;
	position : fixed; //Allowed values: static, absolute, fixed, relative, sticky, initial, inherit;  
	z-index:  900;
	border-radius : 0 16px 16px 0;
  
  }
  
 
  .wi-instructionpanel {
	padding-top: 5px;
    border-radius : 0 16px 16px 0;
	color: $primary-color;
	background-color: $primary-background-color;
	backdrop-filter: blur(8px);
	//flex: 1 1 auto;
	position: fixed;
	display:flex;
	flex-direction: column;

  }



  .wi-closebutton, .wi-instructionpanel   {
	display:flex;
	margin-left: auto;
	width : 32px;   
	height : 32px; 
  }

  .wi-nextbutton , .wi-instructionpanel  {
	align-content: flex-end;
	width : 32px;   
	height : 32px; 

  }

  .wi-backbutton , .wi-instructionpanel  {
	align-content: flex-start;
	width : 32px;   
	height : 32px; 

  }

.wi-navcontainer  , .wi-instructionpanel {
	display:flex;
	justify-content: space-between;
}
.wi-closecontainer  , .wi-instructionpanel {
	display:flex;
	justify-content: space-between;
}

  .wi-type  {
	font-size : 20px; 
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;

  }

  .wi-steps , .wi-instructionpanel {

	font-size : 20px; 
	padding-left: 15px;
	padding-right: 15px;
  }


  .wi-text {
    overflow: scroll; 
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;

  }


  .workorderpanel {

    border-radius : 0 16px 16px 0;
	background-color:  rgba(250,250,250,0.3);
	backdrop-filter: blur(8px);
	flex: 1 1 auto;


  }

  .workorderheaderpanel {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	color: $primary-color;
	background-color: $primary-background-color;
    border-radius : 0 16px 16px 0;  
	position: fixed;

  }
  .workorderpicklistpanel {
	color: $primary-color;
	background-color: $primary-background-color;

    border-radius : 0 16px 16px 0;
	padding-left: 50px;
	font-size : 20px; 
	position: fixed;



  }
  .workorderpicklist {
	color: $primary-color;
	background-color: $primary-background-color;
    border-radius : 0 16px 16px 0;
	font-size : 20px; 
	position: fixed;



  }

  .scroller-img {
	//background: transparent 
	//animation: infinite-shift-right 5000s linear;
	//background-size: auto 100%;
  //  background-position: left 1000px top;
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	background-attachment: fixed;
	background:  transparent  url(../app/resources/Uploaded/2023-03-30_15-43-24.jpg) repeat-x 50% 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .closebutton {
	width : 32px;   
	height : 32px; 
	// background-repeat : 'no-repeat';   
	// background-position : 'center';
	// border : 'solid 1px rgba(0,0,0,0.05)';  
	// border-radius : '40px'; 
	// box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
	// margin : '4px 8px'; 
	//padding-right: 10px;
	color: $primary-color;
	background-color : $primary-background-color;
	position: fixed;

  }

  .nextbutton {

	width : 32px;   
	height : 32px; 
	// background-repeat : 'no-repeat';   
	// background-position : 'center';
	// border : 'solid 1px rgba(0,0,0,0.05)';  
	// border-radius : '40px'; 
	// box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
	// margin : '4px 8px'; 

	background-color : $primary-background-color;
	color: $primary-color;
	padding-left: 10px;
	position: fixed;
  }

  .backbutton {
	width : 32px;   
	height : 32px; 
	// background-repeat : 'no-repeat';   
	// background-position : 'center';
	// border : 'solid 1px rgba(0,0,0,0.05)';  
	// border-radius : '40px'; 
	// box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
	// margin : '4px 8px'; 
	padding-right: 10px;
	background-color : $primary-background-color;
	color: $primary-color;
	position: fixed;

  }


