

:root {
    --grey: #7e857e;
    --white: #FFFFFF;
    --black: #000000;
  }

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}



li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
   
  }

  .light-theme {
    --bg: var(--grey);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }

  .btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  .workorderscoeElement {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  
  .workorderscoeWidget {
    margin: auto;
    background-color: #DDDDDD;
    padding: 3px;
  
  }
  
  
  
.wo-button {
  width : 32px;   
  height : 32px; 
  background-repeat : 'no-repeat';   
  background-position : 'center';
  border : 'solid 1px rgba(0,0,0,0.05)';  
  border-radius : '40px'; 
  box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
  margin : '4px 8px'; 
  padding-right: 10px;
  color: rgba(12,78,241,0.75);
  background-color : rgba(7,201,237,1);
  position: fixed;
  flex-direction: column;
  }

  
.woclosebutton {
  width : 32px;   
  height : 32px; 
  background-repeat : 'no-repeat';   
  background-position : 'center';
  border : 'solid 1px rgba(0,0,0,0.05)';  
  border-radius : '40px'; 
  box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
  margin : '4px 8px'; 
  padding-right: 10px;
  color: rgba(12,78,241,0.75); ;
  background-color : rgba(7,201,237,1);
  position: fixed;

  }
  
.contentcontainer {
  background-color : transparent;
  
  }

  .wos-text {
  font-style: normal;
  font-size: 90%;
  overflow: scroll; 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  }
  
.wo-uicontainer {

background-color : transparent;
display : flex;
flex-direction : column;
position : fixed; 
z-index:  900;
border-radius : 16px;

}

.wo-summarypanel {
  width: -webkit-fill-available;
  border-radius : 16px;
  color: rgba(255, 255, 255, 0.75); ;
  background-color: rgb(7, 7, 7);
  /* flex: 1 1 auto; */
  position: fixed;
  display:flex;
  flex-direction: column;

  }
  .wo-headercontainer   {
    display:flex;
    justify-content: space-between;
  }

  .wo-detailspanel   {
    display:flex;
    justify-content: space-between;
  }

  .wo-timecontainer  {
    display:flex;
    flex: auto;
    border-radius : 16px;
    justify-content: space-between;
  }
  .wo-difficulty   {
    display:flex;
    justify-content: space-between;
  }
    
.wo-closebutton  {
/* margin-left: auto; */
width : 32px;   
height : 32px; 

}
.wo-summarytitle  {
  font-size : 20px; 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-weight: bold;

  }
      
.wo-type  {
  font-size : 20px; 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-weight: bold;

  }

  .wo-text {
  overflow: scroll; 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  }

  // .wo-buttonbarcontainer {
  //   display : flex;
  //   flex-direction : row;
  //   background-color : transparent;
  //   border-radius : 16px;
  //   padding-bottom:  10px;
  //   padding-left: 10px;
  //   position: fixed ;
  //   bottom: 1px;
   
  // }
    .wp-showbutton  {
    /* margin-left: auto; */
    width : 32px;   
    height : 32px; 
    bottom: 1px;
    right: 1px;
    position: fixed;

    }

  .wo-workorders-img {
    
    width : 32px;   
    height : 32px;
    background-color : grey; 
  }

        

    .wi-uicontainer {
    
    width: -webkit-fill-available;
    background-color : transparent;
    display : flex;
    flex-direction : column;
    position : fixed; /*Allowed values: static, absolute, fixed, relative, sticky, initial, inherit;  */
    z-index:  900;
    border-radius :16px;
    height: 275px;
    visibility: "visible";
    
    }
    
   
    .wi-instructionpanel {
    border-radius : 16px;
    color: rgba(255, 255, 255, 0.75); ;
    background-color: rgb(7, 7, 7);
    /* flex: 1 1 auto; */
    // position: fixed;
    // display:flex;
    flex-direction: column;
    height : 300px;
    min-height: 100px;
  
    }
  
    .wi-steps  {
      font-size : 20px; 
      font-weight: bold;
      border-radius : 16px 0  16px 0;
      background-color: rgb(110, 113, 114);
      color: #FFFFFF;
      /* margin-left: auto; */
      height : 32px; 
      padding-left: 5px;
      padding-right: 5px;
    }

    
  
    .wi-closebutton  {
    /* margin-left: auto; */
    width : 32px;   
    height : 32px; 

    }
  
    .wi-nextbutton  {
    align-content: flex-end;
    width : 32px;   
    height : 32px; 
  
    }
  
    .wi-backbutton   {
    align-content: flex-start;
    width : 32px;   
    height : 32px; 
  
    }
  
  .wi-navcontainer  {
    display:flex;
    flex: auto;
    border-radius : 16px;
    justify-content: space-between;
  }
  .wi-headercontainer   {
    display:flex;
    justify-content: space-between;
  }
  
  .wi-closecontainer   {
    display:flex;
    justify-content: space-between;
  }
  
  .wi-instructionsteps  {
    font-size : 20px; 
    font-weight: bold;
    border-radius : 16px 0  16px 0;
    background-color: rgb(110, 113, 114);
    color: #FFFFFF;
    /* margin-left: auto; */
    height : 32px; 
    padding-top: 5px; 
    padding-left: 5px;
    padding-right: 5px;
  }


    .wi-type  {
    font-size : 20px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: bold;
  
    }
  
    .wi-text {
    overflow: scroll; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100px;
    bottom: 82px;
    position: fixed ;
    width: -webkit-fill-available;
    }
  
    .wi-backforwardcontainer   {
      display:flex;
      justify-content: space-between;
      height: 40px;
      position: fixed ;
      bottom: 40px;
      width: -webkit-fill-available;
    }
    .wi-buttonbarcontainer {
      display : flex;
      flex-direction : row;
      background-color : transparent;
      border-radius : 16px;
      padding-top: 10px;
      padding-bottom:  10px;
      padding-left: 10px;
      background-color:  rgba(78, 137, 38, 0.3);
      height: 50px;
      bottom: 1px;
      position: fixed ;
      width: -webkit-fill-available;
      background-color : rgb(5, 82, 30);
      
    }
  
    .workorderpanel {
  
      border-radius : 0 16px 16px 0;
      background-color:  rgba(250,250,250,0.3);
      flex: 1 1 auto;
  
  
    }
  
    .workorderheaderpanel {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    color: rgba(12,78,241,0.75); ;
    background-color: rgba(7,201,237,1);
    border-radius : 0 16px 16px 0;  
    position: fixed;

    }




    .wo-selectlabel {
      font-size : 20px; 
      padding-left: 15px;
      padding-right: 15px;
      font-weight: bold;
  
    }
    .workorderpicklistpanel {
    color: rgba(12,78,241,0.75); ;
    background-color: rgba(7,201,237,1);
  
      border-radius : 0 16px 16px 0;
    padding-left: 50px;
    font-size : 20px; 
    position: fixed;
  
  
  
    }
    .workorderpicklist {
    color: rgba(12,78,241,0.75); ;
    background-color: rgba(7,201,237,1);
    border-radius : 0 16px 16px 0;
    font-size : 20px; 
    position: fixed;
  
  
  
    }
  
 
  
    .closebutton {
    width : 32px;   
    height : 32px; 
    background-repeat : 'no-repeat';   
    background-position : 'center';
    border : 'solid 1px rgba(0,0,0,0.05)';  
    border-radius : '40px'; 
    box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
    margin : '4px 8px'; 
    padding-right: 10px;
    color: rgba(12,78,241,0.75); ;
    background-color : rgba(7,201,237,1);
    position: fixed;
  
    }
  
    .nextbutton {
  
    width : 32px;   
    height : 32px; 
    background-repeat : 'no-repeat';   
    background-position : 'center';
    border : 'solid 1px rgba(0,0,0,0.05)';  
    border-radius : '40px'; 
    box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
    margin : '4px 8px'; 
  
    background-color : rgba(7,201,237,1);
    color: rgba(12,78,241,0.75); ;
    padding-left: 10px;
    position: fixed;
    }
  
    .backbutton {
    width : 32px;   
    height : 32px; 
    background-repeat : 'no-repeat';   
    background-position : 'center';
    border : 'solid 1px rgba(0,0,0,0.05)';  
    border-radius : '40px'; 
    box-shadow : '0px 0px 4px 0px rgba(0, 0, 0, 0.25)';
    margin : '4px 8px'; 
    padding-right: 10px;
    background-color : rgba(7,201,237,1);
    color: rgba(12,78,241,0.75); ;
    position: fixed;
  
    }
  


  